body {
  font-size: 16px;
  color: #ffffff;
  font-family: "PT Sans", "Arial", serif;
  line-height: 30px;
  text-transform: uppercase;
  padding: 0px;
  margin: 0px;
  background-color: #849d8f;
}
.site-wraper{
  margin-left: auto;
  margin-right: auto;
  min-width: 900px;
  max-width: 1200px;
}
.main-header,.main-content,.main-footer{
  margin:0 2.3%;
}
.main-header .logo,.main-header nav,.main-header .header-controls{
  display: inline-block;
}


.main-navigation{
  list-style: none;
  position: relative;
}
.main-navigation li {
  display: inline-block;
  font-size: 14px;
  vertical-align: baseline;
  /*vertical-align:top;*/
  padding:0 10px;
  border-radius: 20px;
  font-weight: bold;
}
.main-navigation .sub-menu{
  /*display: none;*/
}
a {
  text-decoration: none;
}
.main-navigation li a{
  color:#ffffff;
}
.main-navigation li:hover{
  color:#323232;
  background-color: #ffffff;
}
.main-navigation li a{
  color: inherit;
}
.main-navigation li:active{
  color:#323232;
  background-color: #ffffff;
}
.main-navigation li.active-menu-item{
  color:#ffffff;
  background-color: #d07058;
}
.sub-menu{
  position: absolute;
  background-color: #ffffff;
  padding: 0;
  margin: 0;
  display: none;
  border-radius: 5px;
  top:40px;
}
.main-navigation li:hover .sub-menu{
  display: block;
}
.sub-menu li{
  display: block;
  color: #323232;
  border-radius: none;
  font-weight: normal;
}
.sub-menu .sub-menu-title{
  font-weight: bold;
}