@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Bold.woff');
  font-weight: bold;
  font-style: normal;
}

body {
  font-size: 16px;
  color: #ffffff;
  font-family: "Roboto", "Arial", serif;
  line-height: 30px;
  padding: 0px;
  margin: 0px;
  
}
body input.carousel-item{
  display: none;
}
.site-wraper{
  margin-left: auto;
  margin-right: auto;
  min-width: 900px;
  max-width: 1200px;
  background-color: #849d8f;
  background-image: url(../img/icecream1.png);
  background-repeat: no-repeat;
  background-position: top center;
}
.main-header,.main-content,.main-footer{
  margin:0 2.3%;
}
.main-header a,.main-content a,.main-footer a{
  color:inherit;
}

.main-header .logo,.main-header nav,.main-header .header-controls{
  display: inline-block;
}


.main-navigation{
  list-style: none;
  position: relative;
}
.main-navigation li {
  display: inline-block;
  font-size: 14px;
  vertical-align: baseline;
  /*vertical-align:top;*/
  padding:0 10px;
  border-radius: 20px;
  font-weight: bold;
}
.main-navigation .sub-menu{
  /*display: none;*/
}
a {
  text-decoration: none;
}
.main-navigation li a{
  color:#ffffff;
}
.main-navigation li:hover{
  color:#323232;
  background-color: #f8f7f4;
}
.main-navigation li a{
  color: inherit;
}
.main-navigation li:active{
  color:#323232;
  background-color: #ffffff;
}
.main-navigation li.active-menu-item{
  color:#ffffff;
  background-color: #d07058;
}
.sub-menu{
  position: absolute;
  background-color: #ffffff;
  padding: 0;
  margin: 0;
  display: none;
  border-radius: 5px;
  top:40px;
}
.main-navigation li:hover .sub-menu{
  display: block;
}
.sub-menu li{
  display: block;
  color: #323232;
  border-radius: none;
  font-weight: normal;
}
.sub-menu .sub-menu-title{
  font-weight: bold;
}
.header-control{
  display: inline-block;
}

.header-controls .button{
  font-weight: 0.5;
  padding: 10px 15px;
  background-color: #9db1a6;
  border-radius: 20px;
}
.header-controls .button:hover{
  background-color: #f8f7f4;
  color:#323232;
}


.header-controls .popup{
  display: none;
}

.working-info{
  float: right;
}

.index-banner{
  /*display: inline-block;*/
  width:45%;
  border-radius: 10px;
  padding: 15px;
  min-height: 230px;
}
.index-banner h3{
  font-size: 35px;
  margin: 0;
}
.index-banner p{
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
}
.index-banner-raspberry{
  float:left;
  background: url(../img/rasp-back-1200.png) no-repeat;
}
.index-banner-choco{
  float:right;
  background: url(../img/choco-back-1200.png) no-repeat;
}
.index-banner .button{
  line-height: 24px;
  background:linear-gradient(90deg,#e74a35,#f26843);
  padding: 10px 15px;
  border-radius: 20px;
  float: right;
}

.content-wrapper{
  position: relative;
}

.slide-title{
  font-size: 40px;
  line-height: 40px;
  width: 700px;
  margin: 0 auto;
  margin-bottom: 30px;
}
.slide-button{
  display: inline-block;
  line-height: 24px;
  background:linear-gradient(90deg,#e74a35,#f26843);
  padding: 10px 15px;
  border-radius: 30px;
  margin: 0 auto;
  font-size: 32px;
  line-height: 44px;
}

.slide{
  position: relative;
  padding-top: 350px;
  text-align: center;
  color:#ffffff;
}
.slider-controls{
  position: absolute;
  bottom: 25px;
  z-index: 20;
  left: 0;
  font-size: 0;
}
.slider-controls label{
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;
  vertical-align: top;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}
.slide{
  display: none;
}
#btn-1:checked ~ .site-wraper #slide1,
#btn-2:checked ~ .site-wraper #slide2,
#btn-3:checked ~ .site-wraper #slide3{
  display: block;
}

#btn-1:checked ~ .site-wraper label[for="btn-1"],
#btn-2:checked ~ .site-wraper label[for="btn-2"],
#btn-3:checked ~ .site-wraper label[for="btn-3"]{
  background-color: #ffffff;
}

#btn-1:checked ~ .site-wraper{
  background-color: #849d8f;
  background-image: url(../img/icecream1.png);
}
#btn-2:checked ~ .site-wraper{
  background-color: #8996a6;
  background-image: url(../img/icecream2.png);
}
#btn-3:checked ~ .site-wraper{
  background-color: #9d8b84;
  background-image: url(../img/icecream3.png);
}
.visualy-hidden{
  display: none;
}
.index-main-banner{
  position: relative;
  margin-bottom: 40px;
}
.index-about{
  background-image: url(../img/waffle-back.png);
  color: black;
  padding: 20px;
  border-radius: 20px;
}

.index-about .index-about-title{
  margin: 0;
  padding: 0;
}

.index-about .index-about-info{
  width: 45%;
  display: inline-block;
  line-height: 22px;
  margin: 0;
  padding: 0;
}